div.recipe-link-list {
  display: table;
}

div.recipe-link {
  display: table-row;
}

div.recipe-link-title {
  font-style: italic;
  padding-left: 10px;
}

div.recipe-link-item {
  display: table-cell;
}